@mixin loader-animation() {
    #pan-logo_x5f_letters_to {
    animation: pan-logo_x5f_letters_to__to 3000ms linear 1 normal forwards;
    }
    @keyframes pan-logo_x5f_letters_to__to {
    0% {
        transform: translate(495.210593px, 263.316951px);
    }
    6.666667% {
        transform: translate(137.210934px, 203.813253px);
    }
    100% {
        transform: translate(137.210934px, 203.813253px);
    }
    }
    #pan-logo_x5f_letters_tr {
    animation: pan-logo_x5f_letters_tr__tr 3000ms linear 1 normal forwards;
    }
    @keyframes pan-logo_x5f_letters_tr__tr {
    0% {
        transform: rotate(-10.300539deg);
    }
    6.666667% {
        transform: rotate(7.167138deg);
    }
    33.333333% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
    }
    #pan-o1_to {
    animation: pan-o1_to__to 3000ms linear 1 normal forwards;
    }
    @keyframes pan-o1_to__to {
    0% {
        transform: translate(146.099998px, 757.750031px);
        animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
    }
    10% {
        transform: translate(78.529381px, 268.763975px);
    }
    23.333333% {
        transform: translate(120.073017px, 788.713754px);
    }
    33.333333% {
        transform: translate(258.32022px, 1025.699801px);
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    }
    43.333333% {
        transform: translate(259.573724px, 928.430646px);
    }
    100% {
        transform: translate(259.573724px, 928.430646px);
    }
    }
    #pan-o1_tr {
    animation: pan-o1_tr__tr 3000ms linear 1 normal forwards;
    }
    @keyframes pan-o1_tr__tr {
    0% {
        transform: rotate(0deg);
        animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
    }
    10% {
        transform: rotate(66.317235deg);
    }
    23.333333% {
        transform: rotate(66.317235deg);
    }
    33.333333% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
    }
    #pan-h_to {
    animation: pan-h_to__to 3000ms linear 1 normal forwards;
    }
    @keyframes pan-h_to__to {
    0% {
        transform: translate(212.814568px, 746.399933px);
        animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
    }
    10% {
        transform: translate(114.309039px, 332.799591px);
    }
    23.333333% {
        transform: translate(162.111642px, 864.429017px);
    }
    33.333333% {
        transform: translate(323.15469px, 1014.449701px);
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    }
    43.333333% {
        transform: translate(323.15469px, 917.738436px);
    }
    100% {
        transform: translate(323.15469px, 917.738436px);
    }
    }
    #pan-h_tr {
    animation: pan-h_tr__tr 3000ms linear 1 normal forwards;
    }
    @keyframes pan-h_tr__tr {
    0% {
        transform: rotate(0deg);
        animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
    }
    10% {
        transform: rotate(101.142013deg);
    }
    23.333333% {
        transform: rotate(101.142013deg);
    }
    33.333333% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
    }
    #pan-m_to {
    animation: pan-m_to__to 3000ms linear 1 normal forwards;
    }
    @keyframes pan-m_to__to {
    0% {
        transform: translate(307.070335px, 757.499817px);
        animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
    }
    10% {
        transform: translate(141.769885px, 409.829436px);
    }
    23.333333% {
        transform: translate(217.867749px, 914.487192px);
    }
    33.333333% {
        transform: translate(415.945031px, 1025.549586px);
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    }
    43.333333% {
        transform: translate(416.277144px, 928.798059px);
    }
    100% {
        transform: translate(416.277144px, 928.798059px);
    }
    }
    #pan-m_tr {
    animation: pan-m_tr__tr 3000ms linear 1 normal forwards;
    }
    @keyframes pan-m_tr__tr {
    0% {
        transform: rotate(0deg);
        animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
    }
    10% {
        transform: rotate(-138.536345deg);
    }
    23.333333% {
        transform: rotate(-138.536345deg);
    }
    33.333333% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
    }
    #pan-y_to {
    animation: pan-y_to__to 3000ms linear 1 normal forwards;
    }
    @keyframes pan-y_to__to {
    0% {
        transform: translate(394.999985px, 767.300018px);
        animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
    }
    10% {
        transform: translate(227.045505px, 392.13699px);
    }
    23.333333% {
        transform: translate(283.486164px, 945.218954px);
    }
    33.333333% {
        transform: translate(501.623805px, 1035.292039px);
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    }
    43.333333% {
        transform: translate(502.261982px, 938.012689px);
    }
    100% {
        transform: translate(502.261982px, 938.012689px);
    }
    }
    #pan-y_tr {
    animation: pan-y_tr__tr 3000ms linear 1 normal forwards;
    }
    @keyframes pan-y_tr__tr {
    0% {
        transform: rotate(0deg);
        animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
    }
    10% {
        transform: rotate(65.898492deg);
    }
    23.333333% {
        transform: rotate(65.898492deg);
    }
    33.333333% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
    }
    #pan-f_to {
    animation: pan-f_to__to 3000ms linear 1 normal forwards;
    }
    @keyframes pan-f_to__to {
    0% {
        transform: translate(462.4646px, 745.949982px);
        animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
    }
    10% {
        transform: translate(161.169574px, 501.404822px);
    }
    23.333333% {
        transform: translate(326.153268px, 986.000809px);
    }
    33.333333% {
        transform: translate(571.734677px, 1015.099751px);
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    }
    43.333333% {
        transform: translate(571.298501px, 918.95528px);
    }
    100% {
        transform: translate(571.298501px, 918.95528px);
    }
    }
    #pan-f_tr {
    animation: pan-f_tr__tr 3000ms linear 1 normal forwards;
    }
    @keyframes pan-f_tr__tr {
    0% {
        transform: rotate(0deg);
        animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
    }
    10% {
        transform: rotate(113.750887deg);
    }
    23.333333% {
        transform: rotate(113.750887deg);
    }
    33.333333% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
    }
    #pan-o2_to {
    animation: pan-o2_to__to 3000ms linear 1 normal forwards;
    }
    @keyframes pan-o2_to__to {
    0% {
        transform: translate(511.40007px, 757.750031px);
        animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
    }
    10% {
        transform: translate(270.589538px, 429.143148px);
    }
    23.333333% {
        transform: translate(440.0867px, 1081.159568px);
    }
    33.333333% {
        transform: translate(619.403376px, 1025.699801px);
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    }
    43.333333% {
        transform: translate(620.66627px, 928.430646px);
    }
    100% {
        transform: translate(620.66627px, 928.430646px);
    }
    }
    #pan-o2_tr {
    animation: pan-o2_tr__tr 3000ms linear 1 normal forwards;
    }
    @keyframes pan-o2_tr__tr {
    0% {
        transform: rotate(0deg);
        animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
    }
    10% {
        transform: rotate(46.826056deg);
    }
    23.333333% {
        transform: rotate(46.826056deg);
    }
    33.333333% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
    }
    #pan-o3_to {
    animation: pan-o3_to__to 3000ms linear 1 normal forwards;
    }
    @keyframes pan-o3_to__to {
    0% {
        transform: translate(581.500031px, 757.750031px);
        animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
    }
    10% {
        transform: translate(251.934838px, 484.112889px);
    }
    23.333333% {
        transform: translate(383.733392px, 1030.990971px);
    }
    33.333333% {
        transform: translate(690.605178px, 1025.699801px);
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    }
    43.333333% {
        transform: translate(690.482163px, 928.430645px);
    }
    100% {
        transform: translate(690.482163px, 928.430645px);
    }
    }
    #pan-o3_tr {
    animation: pan-o3_tr__tr 3000ms linear 1 normal forwards;
    }
    @keyframes pan-o3_tr__tr {
    0% {
        transform: rotate(0deg);
        animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
    }
    10% {
        transform: rotate(-63.866141deg);
    }
    23.333333% {
        transform: rotate(46.051103deg);
    }
    33.333333% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
    }
    #pan-d_to {
    animation: pan-d_to__to 3000ms linear 1 normal forwards;
    }
    @keyframes pan-d_to__to {
    0% {
        transform: translate(654.949951px, 746.150085px);
        animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
    }
    10% {
        transform: translate(358.706817px, 435.453585px);
    }
    23.333333% {
        transform: translate(521.708639px, 1110.883958px);
    }
    33.333333% {
        transform: translate(761.993759px, 1017.563032px);
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    }
    43.333333% {
        transform: translate(762.602138px, 917.30489px);
    }
    100% {
        transform: translate(762.602138px, 917.30489px);
    }
    }
    #pan-d_tr {
    animation: pan-d_tr__tr 3000ms linear 1 normal forwards;
    }
    @keyframes pan-d_tr__tr {
    0% {
        transform: rotate(0deg);
        animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
    }
    10% {
        transform: rotate(-127.29105deg);
    }
    23.333333% {
        transform: rotate(-127.29105deg);
    }
    33.333333% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
    }
    #pan-waiter_x5f_2_to {
    animation: pan-waiter_x5f_2_to__to 3000ms linear 1 normal forwards;
    }
    @keyframes pan-waiter_x5f_2_to__to {
    0% {
        transform: translate(-95.095183px, 111.418471px);
    }
    73.333333% {
        transform: translate(-95.095183px, 111.418471px);
    }
    83.333333% {
        transform: translate(28.615017px, 276.165488px);
    }
    100% {
        transform: translate(28.615017px, 276.165488px);
    }
    }
    #pan-waiter_x5f_2_tr {
    animation: pan-waiter_x5f_2_tr__tr 3000ms linear 1 normal forwards;
    }
    @keyframes pan-waiter_x5f_2_tr__tr {
    0% {
        transform: rotate(-50.33081deg);
    }
    73.333333% {
        transform: rotate(-50.33081deg);
    }
    83.333333% {
        transform: rotate(0.3406deg);
    }
    100% {
        transform: rotate(0.3406deg);
    }
    }
    #pan-waiter_x5f_1_to {
    animation: pan-waiter_x5f_1_to__to 3000ms linear 1 normal forwards;
    }
    @keyframes pan-waiter_x5f_1_to__to {
    0% {
        transform: translate(-175.902841px, 298.62336px);
    }
    16.666667% {
        transform: translate(-175.902841px, 298.62336px);
    }
    23.333333% {
        transform: translate(-3.338419px, 358.196662px);
    }
    33.333333% {
        transform: translate(180.992273px, 402.379708px);
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    }
    43.333333% {
        transform: translate(179.838427px, 367.70454px);
    }
    83.333333% {
        transform: translate(179.838427px, 367.70454px);
    }
    100% {
        transform: translate(179.838427px, 367.70454px);
    }
    }
    #pan-waiter_x5f_1_tr {
    animation: pan-waiter_x5f_1_tr__tr 3000ms linear 1 normal forwards;
    }
    @keyframes pan-waiter_x5f_1_tr__tr {
    0% {
        transform: rotate(47.20319deg);
    }
    16.666667% {
        transform: rotate(47.20319deg);
    }
    23.333333% {
        transform: rotate(35.626231deg);
    }
    33.333333% {
        transform: rotate(0.290603deg);
    }
    100% {
        transform: rotate(0.290603deg);
    }
    }
    #pan-chef_to {
    animation: pan-chef_to__to 3000ms linear 1 normal forwards;
    }
    @keyframes pan-chef_to__to {
    0% {
        transform: translate(731.093643px, 233.622006px);
        animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
    }
    6.666667% {
        transform: translate(341.694319px, 238.839895px);
    }
    33.333333% {
        transform: translate(730.720077px, 232.088577px);
    }
    100% {
        transform: translate(730.720077px, 232.088577px);
    }
    }
    #pan-chef_tr {
    animation: pan-chef_tr__tr 3000ms linear 1 normal forwards;
    }
    @keyframes pan-chef_tr__tr {
    0% {
        transform: rotate(-10.030608deg);
        animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
    }
    6.666667% {
        transform: rotate(14.972249deg);
    }
    33.333333% {
        transform: rotate(-19.16554deg);
    }
    100% {
        transform: rotate(-19.16554deg);
    }
    }
}