@use "../abstracts" as a;

button {
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em;
    background: linear-gradient(a.$clr-secondary, a.$clr-primary);
    border: none;
    border-radius: 2em;
    color: white;
    font-weight: a.$fw-bold;
}