@use "../abstracts" as a;

button {
    position: relative;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em;
    background: linear-gradient(a.$clr-secondary, a.$clr-primary);
    border: none;
    border-radius: 2em;
    color: white;
    font-weight: a.$fw-bold;
    cursor: pointer;
    box-shadow: a.$box-shadow;

}

button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    opacity: 0;
    border-radius: 2em;
    box-shadow: a.$box-shadow-hover;
    transition: opacity .5s ease;
}

button:hover {
    background: linear-gradient(a.$clr-secondary-light, a.$clr-primary-light);
}

button:hover::after{
    opacity: 1;
    transition: opacity .5s ease;
}


.order-button {
    padding-right: 3em;
    padding-left: 3em;
}
