@use '../abstracts/' as a;

.heart-container {
    height: 50px;
    height: 4em;
    width: 4em;
    @include a.flex-center();
}

.fa-heart {
    font-size: 1.5em;
    position: relative;
    cursor: pointer;
}

.fa-heart::after {
    @include a.fa-icon($content:a.$ico-heart);
    position: absolute;
    top: 0;
    left: calc(50% - 0.5em);
    color: a.$clr-secondary;
    opacity: 0;
    transition: opacity .25s ease;
    transform: scale(0);
    transition: transform .25s ease;
}

.fa-heart:hover {
    color: rgba(100,100,100,0);
    transition: color .25s ease;
}

.fa-heart:hover::after {
    opacity: 1;
    transform: scale(1);
    transition: all .25s ease-in-out;
}
