@use '../abstracts/' as a;

#loader {
    position: absolute;
    background: white;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom:0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    
    animation-name: loaderVanish;
    animation-delay: 3s;
    animation-duration: .5s;
    animation-fill-mode: forwards;

    @keyframes loaderVanish {
        from {
            opacity: 1;
        }
        to {
            opacity: 0; 
            z-index: -1;
        }
    }
}

#loader-animation-svg{
    position: absolute;
    background-color: transparent;

    @media screen and (min-aspect-ratio:1/1) {
        height: 100vh;    
    }
    
    @media screen and (max-aspect-ratio:1/1) {
        width: 100vw;    
    }

    @include a.loader-animation(2500ms);

}

