@use "../abstracts/" as a;

.tile {
    @include a.flex-center();
    background-color: a.$clr-lgrey;
    padding: 1em;
    border-radius: 16px;
    margin: 1em;
}

#choose{
    p::before {
        position: relative;
        right: 1em;
        @include a.fa-icon(a.$ico-mobile);
    }
}

#compose {
    p::before {
        position: relative;
        right: 1em;
        @include a.fa-icon(a.$ico-list);
    }
}

#taste {
    p::before {
       position: relative;
       right: 1em;
       @include a.fa-icon(a.$ico-store);
    }
}