@use "../abstracts/" as a;

#location {
    @include a.flex-center();
    width: 100%;
    height: 3em;
    background-color: a.$clr-grey2;
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.10);
}

#location p {
    font-weight: a.$fw-bold;

    &::before {
        @include a.fa-icon(a.$ico-map-marker);
        position: relative;
        right: 1em;
    }
}

#cta {
    @include a.flex-center($direction: column);
    background-color: a.$clr-grey1;
    padding: 1em;
    padding-left: 3em;
    padding-right: 3em;


    h1 {
        text-align: center;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    p {
        text-align: center;
        font-weight: a.$fw-thin;
    }
}

#how_to {
    h2 {
        width: 100%;
    }

    @include a.flex-center($wrap:wrap);
    gap: 1em 3em;
    padding-top: 2em;
    padding-bottom: 3em;
    padding-left: 1em;
}

#restaurants {
    background-color: a.$clr-grey1;
    padding: 1em;
    padding-top: 2em;
    padding-bottom: 4em;
    h2 {
        width: 100%;
    }
    @include a.flex-center($wrap:wrap);
    gap: 1em 1em;
}